:root {
	--emerald:#2ecc71;/* green */
	--turquoise:#1abc9c;/* green */ 
	--peter-river:#3498db;/* blue */
	--amethyst:#9b59b6;/* purple */
	--wet-asphalt:#34495e;/* black */
	--green-sea:#16a085;/* green */
	--nephritis:#27ae60;/* green */
	--belize-hole:#2980b9;/* blue */
	--wisteria:#8e44ad;/* purple */
	--midnight-blue:#2c3e50;/* black */
	--sun-flower:#f1c40f;/* yellow */
	--carrot:#e67e22;/* orange */
	--alizarin:#e74c3c;/* red */
	--cloud:#ecf0f1;/* white */
	--concrete:#95a5a6;/* grey */
	--orange:#f39c12;/* orange */
	--pumpkin:#d35400;/* orange */
	--pomegranate:#c0392b;/* red */
	--silver:#bdc3c7;/* grey */
	--asbestos:#7f8c8d;/* grey */

	--flat-flesh:#fad390;/* yellow */
	--melon-melody:#f8c291;/* beige */
	--livid:#6a89cc;/* blue */
	--spray:#82ccdd;/* blue */
	--paradise-green:#b8e994;/* green */
	--squash-blossom:#f6b93b;/* yellow */
	--mandarin-red:#e55039;/* red */
	--azraq-blue:#4a69bd;/* blue */
	--dupain:#4a69bd;/* blue */
	--aurora-green:#4a69bd;/* green */
	--iceland-poppy:#fa983a;/* orange */
	--tomato-red:#eb2f06;/* red */
	--yue-guang-lan-blue:#1e3799;/* blue */
	--good-samaritan:#3c6382;/* blue */
	--waterfall:#3c6382;/* blue */
	--carrot-orange:#e58e26;/* orange */
	--jalapeno-red:#b71540;/* red */
	--dark-sapphire:#0c2461;/* blue */
	--forest-blues:#0a3d62;/* blue */
	--reef-encounter:#079992;/* blue */

	--energos:#C4E538;/* green */
	--blue-martina:#12CBC4;/* blue */
	--lavender-rose:#FDA7DF;/* pink */
	--bara-red:#ED4C67;/* pink */
	--radiant-yellow:#F79F1F;/* orange */
	--android-green:#A3CB38;/* green */
	--mediterranean-sea:#1289A7;/* blue */
	--lavender-tea:#D980FA;/* pink */
	--very-berry:#B53471;/* purple */
	--puffins-bill:#EE5A24;/* orange */
	--pixelated-grass:#009432;/* green */
	--merchant-marine-blue:#0652DD;/* blue */
	--forgotten-purple:#9980FA;/* purple */
	--hollyhock:#833471;/* purple */
	--red-piment:#EA2027;/* red */
	--turkish-aqua:#006266;/* blue */
	--under-the-sea:#1B1464;/* blue*/
	--circumorbital-ring:#5758BB;/* purple */
	--magenta-purple:#6F1E51;/* purple */
	

}
/* title */
.title{}
.title-nav{}
.title-nav-header{}
.title-nav-body{}
.title-nav-footer{}
.title-content{}
.title-paragraph{}
.title-box{}
.title-logo{}
.title-product{}
.title-article{}
.title-section{}

/* box */
.box{}
.box-size{}
.box-margin{}
.box-padding{}
.box-height{}
.box-width{}


/* display flex*/
.display-flex{display:flex;}

/* flex wrap */
.display-flex-wrap{display:flex;flex-wrap:wrap;}
.flex-wrap-wrap{flex-wrap:wrap;}
.flex-wrap-nowrap{flex-wrap:nowrap;}
.flex-wrap-wrap-reverse{flex-wrap:wrap;}
/* justify content */
.justify-content-center{justify-content:center;}
.justify-content-flex-start{justify-content:flex-start;}
.justify-content-flex-end{justify-content:flex-end;}
.justify-content-space-between{justify-content:space-between;}

/* align-items*/
.align-items-center{align-items:center;}
.align-items-flex-start{align-items:flex-start;}
.align-items-flex-end{align-items:flex-end;}
.align-items-stretch{align-items:stretch;}
.align-items-baseline{align-items:baseline;}
/* align-content*/
.align-content-space-between{align-content:space-between;}
.align-content-space-around{align-content:space-around;}
.align-content-stretch{align-content:stretch;}
.align-content-center{align-content:center;}
.align-content-flex-start{align-content:flex-start;}
.align-content.flex-end{align-content:flex-end;}


.flex-flow-row-wrap{flex-flow:row-wrap;}

/*flex direction*/
.display-flex-direction{}
.direction-column{flex-direction:column;}
.direction-column-reverse{flex-direction:column-reverse;}
.direction-row{flex-direction:row;}
.direction-row-reverse{flex-direction:row-reverse;}


/*grid */
.grid{display:grid;}

/*border*/
.border-box-white{border:1px solid white;}
.border-box-carrot{border:1px solid var(--carrot);}
.border-box-black{border:1px solid black;}

/*margin*/
.margin0{margin:0px;}
.margin5{margin:5px;}
.margin10{margin:0px;}

/*padding*/
.padding{padding:0px;}
.padding{padding:5px;}
.padding{padding:0px;}

/* font-size*/
.font-size-larger{font-size:larger;}
.font-size-smaller{font-size:smaller;}

/*button */
.rec-button{text-align: center; padding: 15px 32px;text-decoration: none;font-size: 16px;border:none;margin: 4px 2px;cursor: pointer;}
.filled-success{background-color:var(--emerald);color:var(--cloud);}
.filled-error{background-color:var(--tomato-red);color:var(--cloud);}
.filled-info{background-color:var(--dupain);color:var(--cloud);}
.filled-warning{background-color:var(--carrot-orange);color:var(--cloud);}

.round-button{
	text-align: center; padding: 15px 32px;text-decoration: none;font-size: 16px;border:none;margin: 4px 2px;cursor: pointer;border-radius: 50%;
}

.void-success{-webkit-transition-duration: 0.4s; /* Safari */transition-duration: 0.4s;border:2px solid var(--emerald);}
.void-success:hover{background-color: var(--emerald);color:var(--cloud);}


.next{}
/*animation*/
@keyframes upopacity {
	0%{opacity: 0;}
	40%{opacity: 0.4;}	
	60%{opacity: 0.9;}	
	100%{opacity: 1;}	
}

@keyframes downpopacity {
	0%{opacity: 1;}
	40%{opacity: 0.9;}	
	60%{opacity: 0.4;}	
	100%{opacity: 0;}	
}

@keyframes pulse {
	0%{box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);}
	70%{box-shadow:0 0 0 10px rgba(204,169,44, 0.4);-moz-box-shadow:0 0 0 10px rgba(204,169,44, 0.4);}
	100{box-shadow:0 0 0 0 rgba(204,169,44, 0.4);-moz-box-shadow:0 0 0 0 rgba(204,169,44, 0.4);}
}

@-webkit-keyframes pulse {
	0%{box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);}
	70%{box-shadow:0 0 0 10px rgba(204,169,44, 0.4);-moz-box-shadow:0 0 0 10px rgba(204,169,44, 0.4);}
	100{box-shadow:0 0 0 0 rgba(204,169,44, 0.4);-moz-box-shadow:0 0 0 0 rgba(204,169,44, 0.4);}
}

@keyframes touch {
	0%{box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);-moz-box-shadow: 0 0 0 0 rgba(232,232,232,0.4);}
	70%{box-shadow:0 0 0 10px rgba(204,169,44, 0.4);-moz-box-shadow:0 0 0 10px rgba(232,232,232,0.4);}
	100{box-shadow:0 0 0 0 rgba(204,169,44, 0.4);-moz-box-shadow:0 0 0 0 rgba(232,232,232,0.4);}
}

@keyframes drive-right {
	0%{transform: translate3d(0px, 0px, 10px);}
	70%{transform: translate3d(500px, 0px, 10px);}
	100{transform: translate3d(1000px, 0px, 10px);}
}

@keyframes promo{
	0%{transform:rotateZ(160deg);}
	70%{transform:rotateZ(290deg);transform:scale3d(1.3, 1.3, 1.3) }
	100{transform:rotateZ(360deg);}
}

/*animation */
.up{animation-name:upopacity;animation-duration: 3s;}
.down{animation-name:downpopacity;animation-duration: 3s;animation-fill-mode: forwards;}
.pulse{animation: pulse 2s infinite;}
.touch:hover{animation: touch;animation-duration:2s;cursor:pointer;}
.drive-right{animation : drive-right; animation-duration:1s;animation-timing-function: ease;animation-fill-mode: forwards;}
.promo{animation: promo 2s; }

/* effect */
.rond-touch{width:30px;height:30px;background-color:var(--cloud);border-radius:50%;opacity: 0.6;}
.shadow-touch:hover{ box-shadow:inset 1px 1px 1px var(--silver);}
.press:active{box-shadow: 0 5px var(--silver);transform: translateY(4px);}

/*formular*/

.input-search{width: 130px;box-sizing: border-box;border: 2px solid #ccc;border-radius: 4px;font-size: 16px;background-color: white;
    background-image: url('searchicon.png');background-position: 10px 10px; background-repeat: no-repeat;padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out;
}
.input-focus:focus{width: 100%;}